
body{
    margin-top:5vh;
    text-align:center;
    background-color: #444;
    color:white;
    background-image:url('cov.jpg');
    display:grid;
    grid-template-areas:
    "main"
    "result"
    "footer";
    grid-gap : 10vh;
    justify-items:center;
    height:100%;
}


h1{
    color: white;
    font-size: 6vw;
    font-family: 'Montserrat',sans-serif;
    font-weight:bolder;
    background: -webkit-linear-gradient(#fd2d00, #df007c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:sans-serif;
}
.form{
    display:grid;
    grid-gap:10vh;
    font-family: 'Alegreya',sans-serif;
    color:#444;
    font-weight:bold;
    margin:5vh;
    font-size:4vh;
}

.question{
    padding:10px;
    background-color: #F34213;
    border : 1px 0px 1px 0px solid red;
    border-color:rgba(0,0,0,0.3);
    border-top:1px solid rgba(0,0,0,0.3);
    color:white;
    box-shadow:0px 0px 5px 5px rgba(177, 253, 53, 0.377);
}

.question:nth-child(even){
    background-color: #49111C;
    color: white;
    box-shadow:0px 0px 5px 5px rgba(218, 65, 238, 0.3);
}
.btn{
    margin: 8vh 5vw 10vh 5vw;
    border-radius:20px;
}


footer{
    margin-top:30vh;
    width:100vw;
    grid-area:footer;
    height:20vh;
    background-color: saddlebrown;
    text-align : center;
    padding:5vw;
}


.invisible{
    display: none;
}

.back{
    grid-area: main;
    z-index: 1;
}
.back1{
    grid-area:main;
    background-color:rgba(0,0,0,0.5);
    height:auto;
    width:100vw;
    z-index : 2;
}

.result{
    grid-area:result;
    width:60vw;
    height:50vh;
    background-color: white;
    border:1px solid red;
    z-index:3;
    color:#c00;
    font-size:4vh;
    padding:10px;
}


@media(max-width:900px){
    .form{
        font-size:3vh;
    }
    h1{
        font-size:15vw;
    }
    .btn{
        padding:10vw;
        font-size:7vw;
    }
    .result{
        height:20vh;
        width:70vw;
    }
}